<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.dbro.ble">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="@string/app_name"
        android:name=".ChatApp"
    android:theme="@style/AppTheme"
    >

        <provider
            android:name=".schematic.ChatContentProvider"
            android:authorities="pro.dbro.ble.chatprovider"
            >
        </provider>

        <service android:name="pro.dbro.airshare.app.AirShareService" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:icon="@mipmap/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
